.course-menu-container {
  padding: 40px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.course-menu-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 25px;
  padding: 20px;
}

.course-card {
  background: #ffe7ab;
  padding: 20px;
  height: 200px;
  width: 300px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #222;
  border: 1px solid #e5e5e5;
  transition: 0.2s;
  margin-left: 35px;
}
.course-image {
  width: 100%;
  height: 160px;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 25px;
}

.course-card:hover {
  background: #f4f4f4;
  transform: translateY(-5px);
}
