.lesson-item {
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 18px 22px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease;
}

.lesson-item.completed {
  background: #e8ffe8;
  border-color: #79d779;
}

.lesson-title {
  font-size: 18px;
  font-weight: 500;
}
.lesson-content{
  margin-top:50px;
  margin-left: 100px;
  margin-right: 100px;
  font-weight: 400;
  font-size: larger;
  text-align: justify;
}
.lesson-video{
  margin-top: 30px;
  margin-bottom: 50px;
}
.lesson-btn {
  padding: 8px 14px;
  background: #0078ff;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.lesson-btn:hover {
  background: #005fcc;
}

.lesson-btn:disabled {
  background: gray !important;
  cursor: default;
}

.clickable-title {
  cursor: pointer;
  font-weight: 600;
}

.clickable-title:hover {
  text-decoration: underline;
}
