/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;   /* ensures vertical alignment */
  padding: 15px 60px;    /* more space left & right */
  position: sticky;
  top: 0;
  z-index: 1000;
  background: none;
}

/* Remove default margins from h2 */
.logo a {
  text-decoration: none;
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
  margin-right: 1000px;
}

/* Nav container */
.nav-links {
  display: flex;
  align-items: start;
  margin-right: 10px;   /* extra right spacing */
  margin-top: 33px;
}

/* Sign In button */
.open-btn {
  background: linear-gradient(to right, #fbbf24, #f97316);
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 10px 22px;   /* make button balanced */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.open-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(249, 115, 22, 0.3);
}

.profile-icon {
  font-size: 24px;       /* size of the icon */
  cursor: pointer;
  color: #fff;           /* change as per your theme */
  padding: 5px 10px;
}

