/* Navbar */
.navbar {
  display: flex;
  align-items: center;   /* ensures vertical alignment */
  padding: 15px 60px;    /* more space left & right */
  position: sticky;
  top: 0;
  z-index: 1000;
  background: none;
  margin-top: 15px;

}
.logo{
  margin-top: 30px;
}
/* Remove default margins from h2 */
.logo a {
  text-decoration: none;
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222;
}

.nav-links {
  display: flex;
  margin-right: 10px;
  margin-top: 33px;
}

.open-btn {
  background: linear-gradient(to right, #fbbf24, #f97316);
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 10px 22px;
  margin-left: 900px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.open-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(249, 115, 22, 0.3);
}

.profile-icon {
  font-size: 28px;
  cursor: pointer;
  color: #fff;           /* change as per your theme */
  margin-left: 1000px;
}

