html, body, #root {
  background-color: white !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.register-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 32px 16px;
}

/* Progress Bar */
.progress-line {
  width: 170%; 
  height: 10px;
  background-color: #22c55e;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Video Section */
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.intro-video {
  max-width: 700px;
  border: none;
  background: transparent;
}

/* Buttons */
.continue-btn {
  margin-top: 40px;
  padding: 14px 36px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s ease;
}
.continue-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.continue-btn:hover:enabled {
  background-color: #22c55e;
  color: rgb(0, 0, 0);
  transform: scale(1.05);
}

/* Options Section */
.options-section {
  text-align: center;
  margin-top: 40px;
  max-width: 600px;
  width: 100%;
}

.options-title {
  margin-bottom: 45px;
  font-size: 26px;
  font-weight: bold;
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.option-card {
  width: 100%;
  padding: 16px 20px;
  border: 2px solid #ddd;
  border-radius: 12px;
  background: #fff;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.option-card:hover {
  border-color: #000000;
  background: #fff4d4;
  transform: scale(1.02);
}

.option-card.selected {
  border-color: #000000;
  background: #f9ffb4;
}

.icon {
  margin-right: 10px;
}
/* Progress Bar Container */
.progress-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin-bottom: 0px;
  position: relative;
}

/* Back Button */
.back-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* Progress Bar */
.progress-bar {
  flex: 1;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #22c55e;
  transition: width 0.3s ease;
}

/* Register Form */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-form input {
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 16px;
}

.register-form input:focus {
  border-color: #22c55e;
  outline: none;
}
