.dash-wrap {
  display: flex;
  height: 100vh;
  background: #fafafa;
  font-family: 'Inter', sans-serif;
}
.profile-section {
  background: none;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 0px;
}

.profile-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #444;
  object-fit: cover;
  margin-bottom: 10px;
}

.email-display {
  font-size: 13px;
  color: #000000;
  margin-top: -5px;
  margin-bottom: 10px;
}

.upload-btn {
  background: #ffffff;
  color: black;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}

.remove-btnn {
  background: #ffffff;
  color: black;
  padding: 6px 10px;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.upload-btn input {
  display: none;
}

.change-pass-btn {
  background: #ffffff;
  border: none;
  padding: 8px 10px;
  margin-top: 12px;
  width: 100%;
  border-radius: 6px;
  color: black;
  cursor: pointer;
}

/* MODAL */
.modal-overlayy {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-boxx {
  background: #111;
  padding: 25px;
  width: 40%;
  border-radius: 12px;
  color: white;
}

.modal-boxx input {
  width: 97%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

.modal-boxx button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  margin-top: 12px;
  border-radius: 6px;
  color: white;
}

.close-btnn {
  background: #444 !important;
  margin-top: 10px;
}

.msg {
  margin-top: 10px;
  color: lightgreen;
}


/* Sidebar */
.sidebar {
  width: 260px;
  background: #ffe7ab; /* Yellow */
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 3px solid #ffcf33;
}

.profile-box h3 {
  font-size: 22px;
  font-weight: bold;
}

.profile-box p {
  margin-top: -4px;
  font-size: 14px;
  opacity: 0.7;
}

/* Buttons */
.logout-btn,
.help-btn {
  margin-top: 2px;
  background: white;
  border: none;
  padding: 12px 14px;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}
.help-btn{
  margin-top: 14px;
}
.logout-btn:hover,
.help-btn:hover {
  background: #fff5cc;
}

/* Main content */
.main {
  flex-grow: 1;
  padding: 30px 40px;
  overflow-y: auto;
}

.modules-grid {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  margin-top: 15px;
}

.module-card {
  padding: 20px;
  background: white;
  border-radius: 14px;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
}

.module-card:hover {
  transform: translateY(-3px);
}

/* YouTube section */
.yt-heading {
  margin-top: 40px;
  font-size: 22px;
}

.video-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 20px;
}

.video-card {
  background: white;
  padding: 12px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.video-card p {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 500;
}
